<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sneakercalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SneakerCalendar">
        <activity
            android:name=".following_page"
            android:exported="false" />
        <activity
            android:name=".follower_page"
            android:exported="false" />
        <activity
            android:name=".activity_me"
            android:exported="false" />
        <activity
            android:name=".activity_community"
            android:exported="false" />
        <activity
            android:name=".activity_calendar"
            android:exported="false" />
        <activity
            android:name=".activity_signup"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".activity_home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>